- if @user.errors.any?
	%div.alert.alert-danger.alert-dismissible
		%button.close{'data-dismiss': "alert", 'aria-label': "Close"} 
			%span &times;
		%div.text-center
			%strong Ops! alguma coisa deu errado:
		%ul
			- @user.errors.full_messages.each do |msg|
				%li= msg


= form_for @user do |f|
	.form-group
		= f.text_field :full_name, class: 'form-control input-lg', placeholder: 'Nome Usuário', required: true
	.form-group
		= f.email_field :email, class: 'form-control input-lg', placeholder: 'Email', required: true
	.form-group
		= f.password_field :password, class: 'form-control input-lg', placeholder: 'Senha'
	.form-group
		= f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: 'Confirmar a Senha'

	= f.submit 'Salvar', class: 'btn btn-primary btn-block btn-lg'